// styles/element/index.scss
// we can add this to custom namespace, default is 'el'
@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'el'
);
:root {
  --el-color-primary: #0065ff;
  --el-color-warning: #ff8a00;
  --el-color-danger: #f93a3a;
}
// ...

.common-button{
  color: #0065ff;
      background: #ebf3ff;
      border: 1px solid #accdff;
      border-radius: 4px;
}
